<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seproject.reservemac">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".user.view_profile_user" />
        <activity android:name=".ui.common.ViewViolations" />
        <activity android:name=".user.ModifyReservation" />
        <activity android:name=".ui.common.ViewReservation" />
        <activity android:name=".ui.common.AllFacilitiesActivity" />
        <activity android:name=".user.ReserveFacility" />
        <activity android:name=".facility_manager.SearchReservation" />
        <activity android:name=".facility_manager.ViewFacilityFM" />
        <activity android:name=".facility_manager.Facility_manager_reservation" />
        <!-- <activity -->
        <!-- android:name=".ReserveFacility" -->
        <!-- android:label="@string/title_activity_login"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".ui.common.ListOfFacilitiesActivity" />
        <activity android:name=".ui.common.SearchFacilityActivity" />
        <activity android:name=".ui.common.ViewUserDetailsActivity" />
        <activity android:name=".facility_manager.SearchUserActivity" />
        <activity android:name=".administrator.AdminHomepage" />
        <activity android:name=".mainscreens.ChangePassword" />
        <activity android:name=".facility_manager.Facility_manager_screen" />
        <activity android:name=".administrator.Admin_screen" />
        <activity android:name=".user.User_screen" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".facility_manager.ViewUser_fm" />
        <activity android:name=".facility_manager.ViewViolations_fm" />
        <activity android:name=".facility_manager.ViewUser_fm"/>
        <activity android:name=".facility_manager.ViewViolations_fm"/>
        <activity android:name=".administrator.SearchUserActivity_admin"/>
        <activity android:name=".administrator.view_profile_user_admin"/>
        <activity android:name=".administrator.ViewUser_admin"/>
        <activity android:name=".ui.login.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>